
.section-fluid{
   height: 100vh;
   background-color:#ececec;

}
 .section-fluid .topbar{
    height:120px;
    background-color: #128C7E;
}
   /* //! Container */
.app-main{
    border: 2px black solid;
    position:relative;
    bottom: 90px;
    background-color: white;
}

/* Header */
header .header-container, .sidebar-header, .own-name, .chat-view-header, .chatView-userChat {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header-container{
    background-color:#ececec;
}
.sidebar-header{
    justify-content: space-between;
    border-right: 1px  solid rgb(192, 184, 184);
}
.sidebar-chat img, .sidebar-header img, .chatView-userChat img{
    width:100px;
    border-radius: 50%;
}

.sidebar-chat>*{

  height: auto;
  display:flex;
  border-bottom: 1px solid rgb(219, 214, 214);
  cursor:pointer;
}

.sidebar-chat .content-chat-user:hover{
    background-color: #cabfbf;
    border:0;
}
.chat-view-header{
    justify-content: space-between;
}
.header-container i{
    margin-left: 12px;
    color:#93918f;
}
.icons-view-header:last-child{
    margin-right: 15px;
}
.icon-ownName-container:last-child{
    margin-right: 18px;
}
.icon-ownName-container:last-child
.input-container{
    background-color: white;
}
/* //!SIDEBAR */
.app-sidebar .notifications-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 90px;
    background-color:  #acdef3;
}
 .input-container input{
    background-color: white;
    width:425px;
    background: url(../img/search.png) no-repeat;
    padding-left: 35px;
    background-size: 23px 23px;
    background-position: 12px 3px;
    border:none;
    border-color:transparent;
}
.text-notifications a{
   color: rgb(134, 132, 132);
}
.icon-notification{
    background: #fff;
    border-radius: 50%;
    padding:15px;
    font-size:25px;
    color:#acdef3;
    margin:15px;
}

input[type="text"]:focus{
    outline: none;
}
.app-sidebar{
    background-color: #fff8f8;
}

.app-chat-view{
    background: url(../img/mine.jpg);
    border-right:10px white solid;
    overflow:auto;
    flex-basis: 50%;
    flex-grow: 1;
}
/* //!Main-chat-body */
.box-send-msg {
    background-color: #dcf8c6;
    border-radius: 12px;
   
}

.sender-container{
    display:flex;
    justify-content: flex-end;
    margin: 30px 60px 30px 0px;
}

.recevier-container{
    display:flex;
    justify-content: flex-start;
    margin-left: 60px;
}
.box-send-msg .send-msg,
.box-recieved-msg .recieved-msg
 {
    padding: 15px 15px;
    word-wrap: break-word;
    font-weight: 400;
    font-size: 14px;
    display: inline-block;
    text-shadow: 0 1px 1px rgba(0, 0, 0, .2);
}
.box-recieved-msg{
    background-color: white;
    border-radius: 12px;
  
}

footer{
    background-color:#ececec;
    height:80px;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-grow:1;
    flex-basis:50%;
    
 }
 footer .input-typeMsg{
     flex-grow:1;
     flex-basis: 40%;
 }

 textarea{
    border:none;
    border-radius: 6px;
    width:100%;
    height:45px;
    padding:10px 12px;
 }
 textarea:focus{
    outline: none;
}
 footer > *{
     margin-left: 15px;
 }
 footer i{
     font-size: 24px;
     color:#93918f;
 }
 footer .icon-microphone{
     margin-right: 12px;
 }